/* About, Dyno sections */

.about, .dyno-info, .events, .contact {
	text-align: center;
	letter-spacing: .75px;
	padding-bottom: 2rem;
}

.about h1, .dyno-info h1, .events h1, .contact h1 {
	color: #ee1b24;
	font-size: 42pt;
	padding-top: 3.5rem;
}

.about p, .dyno-info p, .events p {
	font-size: 18pt;
	margin-top: 2rem;
}

strong:hover {
	cursor: pointer;
}

.shop-images {
	margin-top: 3.5rem;
}

.flex-item {
	height: 350px;
	width: 518px;
}

.dyno-info {
	background-color: #d7d7d7;
}

.points {
	background-color: #ee1b24;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.points h1 {
	padding: 4rem;
}