<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/favicon.png">
	<title>National Speed | Driving Confidence</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

	<div ng-app="myApp" ng-controller="myCtrl">

		<div class="header">

			<img src="images/header_logo.png">

			<ul class="social">

				<li>
					<img ng-click="OpenFacebookTab()" ng-src="images/facebook_ring.png">
				</li>

				<li>
					<img ng-click="OpenInstagramTab()" ng-src="images/instagram_ring.png">
				</li>

				<li>
					<img ng-click="OpenYoutubeTab()" ng-src="images/youtube_ring.png">
				</li>

			</ul>

		</div>


	</div>




</body>
</html>